{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Lists</title>
</head>

<body>
    <main>

        <h1>My Lists</h1>
        <p>
            <a href="{% url 'todo_list_create'%}">Create a List</a>
        </p>
        <table>
            <thead>
                <th> Name</th>

                <th>Number of items</th>

            </thead>
            <tbody>
                {% for item in todolist %}
                <tr>
                    <td> <a href="{% url 'todo_list_detail' item.id %}"> {{ item.name }} </td>
                    <td>{{ item.items.count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>

</body>

</html>
